/*Body*/
html{
    font-size: 1vw;
}
body {
    font-family: 'Lato', sans-serif;
    margin: 0;

}
.container {
    display: grid;
    grid-template-rows: 65em auto 10em;
    grid-template-areas: "header" "main" "footer";

}
.wrapper {
    max-width: 75%;
    margin: 0 auto;
}
.row {
    position: relative;
    border-bottom: 1px solid rgba(255,255,255,0.15);
    line-height: 5.5rem;
    max-width: 75%;
    margin: 0 auto;
}
.clr {
    clear: both;
}
.yellow {
    border-color: yellow;
}
nav {
    float: right;
    position: absolute;
    right: 0;

}
nav ul{
    margin:0;
}
nav ul li {
    display: inline-block;
    
}
/*Heder*/
header{
    color: white;
    background-size: cover;
    background-image: url(../images/headerbg.png);
    height: 100%;
    text-align: center;
}
header nav li {
    margin-left: 4rem;
    font-weight: 500;
}
header nav li a{
    padding: 2.12em 0;
    text-decoration: none;    
    color: white;
}
header nav li a:hover{
    border-bottom: 1px solid white;
}
.logo {
    float: left;
    height: 5.5em;
}
.hello {
    margin-top: 4.58em;
    margin-bottom: 0px;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 4.5em;
}
.we {
    font-family: 'Georgia';
    font-style: italic;
    font-size: 1.98em;
    line-height: 0.48em;
    margin-top: 0.48em;
}
/*Member*/
/*Domain*/
/*Packages*/
.packages {
    padding: 6em 12.5%;
    background-image: url(../images/packagesphotobg.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
#packages {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-areas: ".yellow" ".gray" ".red" ".blue";
}
#packages>div{
    justify-self: center;
    background-color: white;
    padding: 1em;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.06);
 
}
#packages div p {
    text-align: center;
}
.diagramm {
    margin:0 auto;
    transform: rotate(45deg);    
    width: 4em;
    height: 4em;
    text-align: center;
    border: 0.5em solid transparent;
    border-radius: 50%;    
}    
.yellow .diagramm  {
    border-top: 0.5em solid #f9d423;
    color: #f9d423;
}

.diagramm i {     
    transform: rotate(-45deg);
    font-size: 1.2em;
    padding: 1em;
}


/*About Us*/
/*Commentes*/
/*Functions*/
/*Footer*/
