@font-face {
    font-family: Lato-Medium; 
    src: url(../fonts/Lato-Medium.ttf);
}
@font-face {
    font-family: 'Montserrat Ultra Light';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Montserrat-UltraLight.woff') format('woff');
}   
/*Body*/
html{
    font-size: 1vw;
}
body {
    font-family: 'Lato-Medium', sans-serif;
    margin: 0;

}
input, select {
    border: none;
}
.container {
    display: grid;
    grid-template-rows: 65em auto auto;
    grid-template-areas: "header" "main" "footer";

}
.wrapper {
    max-width: 75%;
    margin: 0 auto;
}

.row {
    position: relative;
    border-bottom: 1px solid rgba(255,255,255,0.15);
    line-height: 5.5rem;
    width: 75%;
    margin: 0 auto;
}

.clr {
    clear: both;
}

nav {
    float: right;
    position: absolute;
    right: 0;

}
nav ul{
    margin:0;
}
nav ul li {
    display: inline-block;
    
}
/*Heder*/
header {
    display: grid;
    grid-template-rows: 5.52em 24.9em auto 7.5em;
    color: white;
    background-size: cover;
    background-image: url(../images/headerbg.png);
    height: 101%;
    text-align: center;
}
header nav li {
    margin-left: 3.95rem;
    font-weight: 500;
}
header nav li a{
    padding: 2.12em 0;
    text-decoration: none;    
    color: white;
}
header nav li a:hover{
    border-bottom: 1px solid white;
}
.logo {
    float: left;
    height: 5.5em;
}
.hello {
    margin-top: 4.71em;
    margin-bottom: 0px;
    font-family: 'Myriad Pro',Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 4.4em;
}
.we {
    font-family:  'Georgia', Times, "Times New Roman", serif;;
    font-style: italic;
    font-size: 1.98em;
    line-height: 1.48em;
    margin-top: 0.52em;
}
.login {
    background-color:  #2fac6c;
    position: relative;
    line-height: 2em;
}
.login a{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.25em;
    top: 2.2em;
    letter-spacing: 1px;
    text-decoration: none;
}
.login .row {
    display: grid;
    grid-template-columns: auto auto;
    position: absolute;
    line-height: 7.75rem;
    width: 75%;
    z-index: 2;
    left: 13.2%;
}
.trapezium {
    position: absolute;
    top: 0;
    width: 48.8%;
    border-top: 7.5em solid #21424a;
    border-left: 0px solid transparent;
    border-right: 1.7em solid transparent;
}
/*Domain*/
#domain {
    text-align: center;
}
#domain h2 {
    margin-top: 4em;
}
#domain p {
    font-family: 'Montserrat Ultra Light';
}
.form {
    display: grid;
    grid-template-columns: 4em auto 5.5em;
    border: 1px solid;
    width: 54.6em;
    margin: 3em auto 2.5em;
    line-height: 3em;
}
#domain .table {    
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    border: 1px solid;
    width: 54.6em;
    margin: 1em auto 5.7em;
    line-height: 5.9em;
    text-align: center;
    text-transform: uppercase;    
}
#domain .table div {
    font-size:.85em;
}
#domain .table div:not(:nth-child(5n)):not(:first-child) {
    
    text-transform: none;
}
.form>* {    
    font-size: .9em;
}
/*Packages*/
.packages {
    padding: 6em 12.5%;
    background-image: url(../images/packagesphotobg.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
#packages {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 3.6em;
}
#packages>div {
    background-color: white;
    padding: 1em;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.06);
    border-top: 0.3rem solid;
}
#packages h3 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
}
#packages ul {
    width: 90%;
    margin: 0 auto;
    padding: .85rem 0 0 0;
    border-top: .15rem solid rgb(233,233,233);
    border-bottom: .15rem solid rgb(233,233,233);
    list-style-type: none;
    font-size: 1rem;
    color: rgb(180,180,180);
}
#packages ul li {
    height: 2.35em;
    font-family: 'Lato light',Arial, Helvetica, sans-serif;
}
#packages div p {
    text-align: center;
    line-height: 1.8rem;
    margin: 1.4rem auto 0.6rem;
    width: 46%;
}
#packages div span {

}
.button {
    margin: 1.3rem 27%;
    font-weight: bold;
}
.diagramm {
    margin: 1.3em 4.8em 0.5em 4.8em;
    transform: rotate(45deg);
    width: 2.7rem;
    height: 2.7rem;
    text-align: center;
    border: 0.4em solid transparent;
    border-radius: 50%;  
}
.diagramm i {     
    transform: rotate(-45deg);
    font-size: 1em;
    padding: .8em;
}

#packages ul span {
    font-weight: 700;
    float: right;
}
.package1 .diagramm  {
    border-top: 0.4em solid #f9d423;
}
.package1 .diagramm , .package1 span {
    color: #f9d423;
}
.package2 .diagramm  {
    border-top: 0.4em solid rgb(127,140,141);
    border-right: .4em solid rgb(127,140,141);
}
.package2 .diagramm , .package2 span {
    color: rgb(127,140,141);
}
.package3 .diagramm  {
    border-top: 0.4em solid rgb(248,95,64);
    border-right: .4em solid  rgb(248,95,64);
    border-bottom: .4em solid  rgb(248,95,64);
}
.package3 .diagramm , .package3 span {
    color: rgb(248,95,64);
}
.package3 .diagramm  {
    border-top: 0.4em solid rgb(248,95,64);
    border-right: .4em solid  rgb(248,95,64);
    border-bottom: .4em solid  rgb(248,95,64);
}
.package3 .diagramm , .package3 span {
    color: rgb(248,95,64);
}
#packages tr td:first-child {
    text-align:left; 
}
#packages tr td:nth-child(2) {
    text-align:right; 
}

p span {
    font-size: 1em;
}

/*About Us*/
#about {
    padding: 6em 12.5%;
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
}
#about hr {
    width: 100%;
    border-style: dashed;
    border-width: 1px;
    border-color: #dedede;
}

/*Commentes*/
/*Functions*/
#functions {
    padding: 6em 12.5%;
    display:grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5em;
    text-align: center;
}
/*Footer*/
footer {
    display: grid;
    background-color: #2a2a2a;
    color: white;
}
